:root {
  --main-color: #989867;
  --main-second-color: #ADAD85;
  --secondary-color: #676798;
  --secondary-second-color: #8585AD;
}

.button {
  background-color: var(--main-color);
  margin: auto;
  font-weight: 600;
  font-size: 1em;
  padding: 8px;
}

.button:hover {
  background-color: var(--main-second-color);
  cursor: pointer;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px; 
}

.center-text {
  text-align: center;
}

.normal__h1 {
  font-weight: 600;
  font-size: 2em;
}

.normal__list {
  list-style: none;
  font-weight: 600;
  font-size: 1.2em;
  padding: 8px;
  margin: 8px;
}

.normal__list-item {
  padding: 8px;
  margin: 8px;
  background-color: var(--secondary-color);
}

.normal__list-item:hover {
  background-color: var(--secondary-second-color);
  cursor: pointer;
}

.half__image {
  width: 50%;
}

.normal__image {
  width: 100%;
}

.rounded_corners {
  border-radius: 5px;
  border: 2px solid var(--secondary-second-color);
}

.align__text__center {
  text-align: center;
}

